.game-board {
    height: 70vw;
    max-width: 600px;
  
  & div {
    width: 100%;
    height: 100%;

    & .board-row {
        width: 100%;
        height: 33.33%;
    }
  }
}

.board-row {
    display: flex;
    flex-wrap: nowrap;
    
    &:after {
        clear: both;
        content: "";
        display: table;
    }

    & :first-child {
        border-left: none !important;
    }
    
    & :last-child {
        border-right: none !important;
    }

    &:first-child button {
        border-top: none !important;
    }

    &:last-child button {
        border-bottom: none !important;
    }
}

@media screen and (min-width: 600px) {

    .game-board {
        height: 35vw; 
        margin: auto;
        flex-grow: 2;
        max-width: 40vw;
    }
}