@import "../../mixins";

@keyframes scaleAnimation {
    0% {
      font-size: 8vw;
      background-color: $bg-color;
    }
    25%{
        background-color: $bg-color-transition
    }
    50% {
        font-size: 14vw;
        background-color: $bg-color-highlighted;
    }
    100% {
        font-size: 10vw;
        background-color: $bg-color-highlighted;
    }
}

.square {
    background: transparent;
    border: 0.35rem solid $bdr-color-grey;
    float: left;
    line-height: 100%;
    height: 100%;
    width: 33.33%;
    padding: 0;
    text-align: center;
    margin: 0;
    @include primary-text(0vw);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    transition: font-size 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:focus {
        outline: none;
    }

    &:not(:empty) {
        font-size: 8vw;
    }

    &:not(:disabled):empty {
        cursor: pointer;
    }

    &.highlighted {
        font-size: 10vw;
        transition: none;
        animation: scaleAnimation 2s; 
        background-color: $bg-color-highlighted;
    }
  }




