@keyframes background-animation {
    0% {
        background: 
            radial-gradient(at 0 -15%, rgba(#fff, .07) 70%, rgba(#fff, 0) 71%) 0 0/ 80% 30% no-repeat content-box, 
            linear-gradient(#4e4e4e, #040404) content-box, 
            linear-gradient(#292929, #010101) border-box;    
    }
    4% {
        background: 
            radial-gradient(at 0 -15%, rgba(#fff, .07) 70%, rgba(#fff, 0) 71%) 0 0/ 80% 45% no-repeat content-box, 
            linear-gradient(#4e4e4e, #040404) content-box, 
            linear-gradient(#292929, #010101) border-box;  
    }
    7% {
        background: 
            radial-gradient(at 0 -15%, rgba(#fff, .07) 70%, rgba(#fff, 0) 71%) 0 0/ 80% 90% no-repeat content-box, 
            linear-gradient(#4e4e4e, #040404) content-box, 
            linear-gradient(#292929, #010101) border-box;    
    }
    14% {
        background: 
            radial-gradient(at 0 -15%, rgba(#fff, .07) 70%, rgba(#fff, 0) 71%) 0 0/ 80% 90% no-repeat content-box, 
            linear-gradient(#4e4e4e, #040404) content-box, 
            linear-gradient(#292929, #010101) border-box;
    }
    21% {
        background: 
            linear-gradient(#4e4e4e, #040404) content-box, 
            linear-gradient(#292929, #010101) border-box;
    }
    100% {
        background: 
            linear-gradient(#4e4e4e, #040404) content-box, 
            linear-gradient(#292929, #010101) border-box;
    }
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding: 20px 32px 16px;

    & a {
        font-size: 2rem;
        font-family: 'Bitter';
        text-shadow: 1px 1px var(--c-sh-txt, #{rgba(#000, .5)});
        margin: 1em .5em;
        padding: 0;
        width: 8.5em; 
        height: 2em;
        border: solid .125em transparent;
        border-radius:  8*.125em;
/*         filter: contrast(.65); */
        transition: .2s ease-out;
        text-align: center;
        text-decoration: none;
        line-height: 3rem;
        cursor: pointer;
        box-shadow: inset 0 1px 1px #9c9c9c;
        max-width: 100%;
        background: black;
        background: 
            radial-gradient(at 0 -15%, rgba(#fff, .07) 70%, rgba(#fff, 0) 71%) 0 0/ 80% 45% no-repeat content-box, 
            linear-gradient(#4e4e4e, #040404) content-box, 
            linear-gradient(#292929, #010101) border-box;

/*         animation: background-animation 5s infinite; */
        color: #fff;

        &:hover, &:focus {
            outline: none;
            filter: none;
        }
        
        &:active { 
            transform: translatey(.125em); 
        }

    }

    & article {
        margin: 1em 0;
        max-width: 800px;
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;

        & h3 {
            padding-bottom: .6rem;
            text-transform: uppercase;
            text-align: center;
        }

        & ul {
            margin-left: 1rem;
            list-style: circle;
        }
          
        & ul li {
            font-size: 16px;
            margin-top: .5rem;
            font-style: oblique;
            color: #757474;
            transition: all .5s ease-in;

            &:hover {
                text-decoration: underline;
            }

            &:hover::after {
                width: 100%;
            }

            &::marker {
                color: #a8962c;
            }
        }

    }
}