/* Colors */
$bright-sun: #FAE042;
$buttered-rum: #A77B0E;
$rusty-nail: #7C5A0B;

$white: #fff;
$whitesmoke: #f5f5f5;
$tana: #dbdbb8;
$gurkha: #9c9c7c;
$dove-gray: #736D6D;
$alto: #cfcfcf; 
$black: #000;



/* Header */
$brdr-color-title-header: $black;
$color-title-header: $white;
$bg-color-header: $bright-sun;
$font-color-header: $buttered-rum;

/* Navbar */
$bg-color-navbar: $bright-sun;
$font-color-navbar: $buttered-rum;
$font-color-hvr-navbar: $rusty-nail;

/* Game */
$text-shdw-color: rgba($black, 1);
$font-color: $white;

/* board square */
$bdr-color-grey: $alto;
$bg-color-highlighted: $gurkha;
$bg-color-transition: $tana;
$bg-color: $white;
$color: $white;
$text-shdw-color: rgba($black, 1);

/* history */
$bg-color-history: $whitesmoke;
$bg-color-history-toggle: $bright-sun;
$font-color-history-toggle: $buttered-rum;
$font-color-hvr-history-toggle: $rusty-nail;
$bg-color-history-move: $alto;
$font-color-history-move: $black;
$bg-color-hvr-history-move: $black;
$font-color-hvr-history-move: $white;

/* Footer */
$bg-color-copyright: $black;
$font-color-copyright: $white;
$bg-color-footer: $whitesmoke;
$font-color-footer: $black;
$font-color-link: $dove-gray;
$font-color-hvr-link: $black;