.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.board-row {
    display: flex;
    flex-wrap: nowrap;
}

.game-board div .board-row {
    width: 100%;
    height: 33.33%;
}
  
.game-board .board-row:first-child button {
    border-top: none !important;
}

.game-board .board-row:last-child button {
    border-bottom: none !important;
}

.board-row :first-child {
    border-left: none !important;
}

.board-row :last-child {
    border-right: none !important;
}