body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.game-board {
  width: 40vw;
  height: 40vw;
}

.game-board div {
  width: 100%;
  height: 100%;
}

.status {
  margin-bottom: 10px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.history-move button:active, .history-move button:focus {
  font-weight: bold
}