footer {
    width: 100%;
    color: #A77B0E;
    background: #FAE042;
    margin-top: 2rem;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    padding-top: 1rem;
}

.links {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.col {
    display: flex;
    flex-direction: column;

}

a.sourcecode {
    font-style: italic;
    font-size: 13px;
}

.links ul {
    list-style: none;
    display: flex;
}

.links ul li {
    margin-right: 1rem;
    font-size: 2rem;
}

.links svg {
    cursor: pointer;
    color: #A77B0E;
}

.copyright {
    background-color: #000;
    color: #fff;
    height: 30px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin-top: 1rem;
    padding-top: .4rem;
}